$color: lightblue;

@font-face {
    font-family: "WinterWind";
    src:
      url("winter_wind/Winter Wind.otf") format("opentype"),
  }

body {
    background-color: $color;
    color: #000;

    h1 {
        text-align: center;
        font-size: 4rem;
        padding: 3rem 3rem 0 3rem;
        font-family: "WinterWind";
        margin-bottom: 0;
    }
    .uyc {
        text-align: center;
        font-size: 2rem;
        font-family: "WinterWind";
        margin-top: 0;
    }

    select {
        display:table-row;
    }
    option {
        display:table-cell;
    }

    .monSite {
        display: flex;
        justify-content: center;

        #quoteBloc {
            width: 50%;
            border-radius: 5px;
            padding: 3rem;
            position: relative;

            #quoteBtn {
                margin-bottom: 1rem;
            }
            #quoteLine {
                font-size: 2rem;
            }
            #quoteAuthorDiv {
                text-align: end;
                font-size: 1.5rem;
                padding: 2rem;
            }

            #quoteLoader {
                border: 12px solid #f3f3f3;
                border-radius: 50%;
                border-top: 12px solid #444444;
                width: 70px;
                height: 70px;
                animation: spin 1s linear infinite;
            }        
            .center {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }        
            @keyframes spin {
                100% {
                    transform: rotate(360deg);
                }
            }
            #emojis {
                font-size: 2rem;
                height: 3rem;
                padding-left: 4rem;
            }
        
        }

        #emojiBloc {
            background-color: #f3f3f3;
            border-radius: 5px;
            padding: 3rem;

            #emojiList {
                font-size: 2rem;
            }
            
            #precEmojiGroupBtn {
                display: none;
            }
        }
     
        .clickable:hover {
            background-color: rgba(128, 128, 128, .8);
            cursor: pointer;
            border-radius: 3px;
        }
    }

    
}