$color: lightblue;

@font-face {
    font-family: "WinterWind";
    src:
      url("winter_wind/Winter Wind.otf") format("opentype"),
  }
@font-face {
    font-family: "Roboto";
    src:
        url("roboto/Roboto-Regular.ttf") 
}

body {
    background-color: $color;
    color: #000;
    font-family: "Roboto";

    h1 {
        text-align: center;
        font-size: 4rem;
        padding: 3rem 3rem 0 3rem;
        font-family: "WinterWind";
        margin-bottom: 0;

        background: linear-gradient(120deg, #379eff7a 40%, #0e0e83 60%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .uyc {
        text-align: center;
        font-size: 2.5rem;
        font-family: "WinterWind";
        margin: 0 0 5rem 0;

        background: linear-gradient(120deg, #e6f5137a 40%, #830e0e 60%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    select {
        display:table-row;
    }
    option {
        display:table-cell;
    }

    .monSite {
        display: flex;
        justify-content: center;        

        @media screen and (max-device-width: 800px) {
            flex-direction: column;
            align-items: center;            
        }

        #quoteBloc {
            width: 50%;
            border-radius: 5px;
            padding: 3rem;
            position: relative;

            @media screen and (max-device-width: 800px) {
                width: 80%;        
            }

            #quoteContent {
                font-size: 3rem;
            }
            #quoteBtn {
                margin: 0 0 1rem 1rem;
            }
            #quoteLine {
                font-size: 2rem;
            }
            #quoteAuthorDiv {
                text-align: end;
                font-size: 1.5rem;
                padding: 2rem 2rem 0 2rem;
            }
            #commandLine {
                display: none;
                margin-top: 2rem;
                gap: 1rem;
                justify-content: flex-end;
            }            

            #quoteLoader {
                border: 12px solid #f3f3f3;
                border-radius: 50%;
                border-top: 12px solid #444444;
                width: 70px;
                height: 70px;
                animation: spin 1s linear infinite;
            }        
            .center {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }        
            @keyframes spin {
                100% {
                    transform: rotate(360deg);
                }
            }
            #authorCommentSpan {
                font-size: 2rem;
            }
            #emojis {
                font-size: 3rem;
                height: 4rem;
                padding-left: 4rem;
                display: flex;
                align-items: center;
                @media screen and (max-device-width: 800px) {
                    font-size: 4rem;       
                }
            }
        
        }

        #emojiBloc {
            background-color: #f3f3f3;
            border-radius: 5px;
            padding: 3rem;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            @media screen and (max-device-width: 800px) {
                width: 80%;
            }

            #emojiList {
                font-size: 2rem;
                @media screen and (max-device-width: 800px) {
                    font-size: 4rem;       
                }
            }
            
            #precEmojiGroupBtn {
                display: none;
                margin-right: 1rem;
            }
        }
     
        .clickable:hover {
            background-color: rgba(128, 128, 128, .8);
            cursor: pointer;
            border-radius: 3px;
        }
        .clickableBigger{
            transition: all .2s;
        }
        .clickableBigger:hover {
            cursor: pointer;
            font-size: 4rem;
        }
    }

    @media screen and (max-device-width: 800px) {
        select, button {
            font-size: 2rem;
        }        
    }

    #sendEmail {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 5rem;
        border: 1px solid #888;
        width: 50%;
        font-size: 3rem;
    }
    
    /* The Close Button */
    #closeModalSendEmail {
        color: #aaaaaa;
        float: right;
        font-weight: bold;
    }
    
    #closeModalSendEmail:hover,
    #closeModalSendEmail:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}